.new-doc-container {
  background-color: rgba(228, 226, 226, 0.668);
  display: flex;
  justify-content: center;

  .new-doc-inner {
    width: 70%;

    .start-docs {
      width: 150px;
      height: 200px;
      cursor: pointer;
      border: 1px solid #c0bdbd;
      border-radius: 3px;
    }

    .start-docs:hover {
      border: 1px solid #5689d6;
    }

    .doc-title {
      margin-top: 5px;
    }
  }
}
